---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
---

<header class="bg-blue-700 p-10 text-center gap-8">
	<h1 class="mb-5 text-6xl font-bold">{title}</h1>
	<p class="mb-10">{description}</p>
	<slot />
</header>