:root {
	--dark-second: #141823;
	--light-second: #e8effc;

	--dark-color-background: #10141c;
}

.container {
	margin-top: 30px;
}

@media (prefers-color-scheme: light) {
	:root {
		--second: var(--light-second);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--second: var(--dark-second);
	}
}

:root[data-theme='light'] {
	--second: var(--light-second);
}

:root[data-theme='dark'] {
	--second: var(--dark-second);
}

h1 {
	margin: 50px 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.tsd-page-toolbar {
	border: none;
	padding: 20px 0;
	background-color: var(--second);
}

.tsd-accordion-summary h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
}

.col-content .tsd-page-title h2 {
	width: 0;
	height: 0;
	visibility: hidden;
}

.tsd-sources {
	width: 0;
	height: 0;
	visibility: hidden;
}

.tsd-panel-group {
	background-color: var(--second);
	border: 1px solid var(--light-second);
	padding: 20px;
	border-radius: 10px;
}

#tsd-search .field input {
	color: var(--second);
}

.tsd-page-toolbar .tsd-toolbar-contents {
	background-color: var(--second);
}

.tsd-signature {
	background-color: var(--dark-color-background);
	border-radius: 10px;
	border-width: 2px;
}
